html {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  background-image: url('../assets/asfalt-dark.png');
  color: #444;
  line-height: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-shadow: 2px 2px 8px #000;
  line-height: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.3em;
}

h3 {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.5em 0;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.2em;
}

h6 {
  font-size: 1rem;
  font-weight: lighter;
  opacity: 0.5;
}

ul {
  list-style-type: circle;
  margin-bottom: 1em;
}

li {
  list-style: disc outside none;
  display: list-item;
  margin: 1em 1em 0 1em;
}

strong {
  font-weight: bold;
}

body {
  position: relative;
  display: grid;
  grid-template: 200px 1fr / minmax(360px, 1fr) 4fr; /* rows / columns */
  grid-template-areas:
    'header header'
    'aside main';
  overflow: auto;
  min-width: 300px;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 3px;
}

/* *::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

} */

*::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.5);
}

a {
  text-overflow: ellipsis;
}

a:link {
  color: #4f6a94;
}

a:visited {
  color: #4f6a94;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

/* ------------------------- */

.miniIcon {
  width: 1em;
  height: 1em;
  margin: 0.2em;
  opacity: 0.9;
}

.littleIcon {
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.2em;
  opacity: 0.7;
}

.mediumIcon {
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.5em;
  opacity: 0.7;
}

.biggerIcon {
  width: 1.5em;
  height: 1.5em;
  opacity: 0.7;
}

.bold {
  font-weight: bold;
}

.dim {
  opacity: 0.7;
}

.lowYPadding {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* .boxShadow {
  box-shadow: 0 0.45rem 0.9rem 0 rgba(44, 51, 73, 0.2);
} */

.tileTechnoBullet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: #ffffff49;
  border-radius: 50%;
  /* padding: 0.2em 0.5em; */
  margin-right: 10px;
  margin-bottom: 10px;
}

/* ------------------------- */

header {
  grid-area: header;
  /* background-image: url('../assets/banner.png'); */
  /* background-size: cover;
  background-position: center; */
  background-color: #311fbf;
  background-image: url('../assets/flowers.png');
  border-bottom: 3px solid #cbc6ee;
  overflow: hidden;
}
/* ------------------------- */

aside {
  grid-area: aside;
  padding: 20px;
  margin-bottom: 4em;
}

#asideContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -120px;
  background-color: white;
  background-image: url('../assets/ice-age.png');
  border-radius: 20px;
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.2);
}

.asideTopContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.asideSection {
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
  padding: 0 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

#backgroundKnowledge {
  overflow: hidden;
  transition: height 0.2s;
}

.minimizeSection {
  height: 0px;
}

#buttonAsideXp {
  appearance: none;
  border: 5px solid white;
  border-top: none;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  width: 4em;
  height: 2em;
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: white;
  background-image: url('../assets/ice-age.png');
}

#buttonAsideXp:hover .buttonAsideXpIcon {
  opacity: 0.8;
}

.buttonAsideXpIcon {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.rotate180Button {
  transform: rotate(180deg);
}

.xpSection {
  margin-bottom: 1em;
}

.technoBullet {
  display: flex;
  align-items: center;
  height: 2em;
  background-color: #edf1f7;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.asideTitle {
  position: relative;
  margin-left: 0.6em;
  margin-top: 0.4em;
  padding-left: 0.5em;
}

.asideTitle::after {
  position: absolute;
  bottom: 0.85em;
  left: -0.6em;
  content: ' ';
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #311fbf;
  border-radius: 2px;
}

#pictureAside {
  width: 50%;
  min-width: 180px;
  max-width: 250px;
  height: 50%;
  min-height: 180px;
  max-height: 250px;
  object-fit: contain;
  border-radius: 50%;
  margin-top: -60px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#technoSection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.4em;
}

.asideLinkBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0.5em;
  width: 20%;
  flex-wrap: wrap;
}

#asideLeftLinkBox {
  position: absolute;
  top: 0;
  left: 0;
}

#asideRightLinkBox {
  position: absolute;
  top: 0;
  right: 0;
}

.asideLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: lavender;
  margin: 0.2em;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
}

.asideLinkContainer:hover {
  opacity: 0.9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.asideTesti {
  position: relative;
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.2em;
  padding: 20px;
  margin-top: 1em;
  color: #ffffff;
  background-color: #4e3fc1;
  background-image: url('../assets/subtle-carbon.png');
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* ------------------------- */

main {
  grid-area: main;
  margin-top: 1em;
  margin-bottom: 4em;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* margin: 10px; */
  flex-wrap: wrap;
}

.projectTile {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
  justify-content: center;
  align-items: center;
  min-width: 340px;
  max-width: 545px;
  flex-basis: 25%;
  min-height: 300px;
  flex-grow: 1;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-left: 10px;
  background-color: #bbb;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.minor {
  min-height: 125px;
  /* max-width: 500px; */
}

.overeffect {
  cursor: pointer;
  border-top-right-radius: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.overeffect::after {
  z-index: 5;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #5040c4, #ffffff);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.projectTile::before {
  content: '';
  display: block;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.projectTile:hover::after {
  opacity: 0.7;
}

.projectTile:hover .tileText {
  opacity: 1;
}

.tileTitle {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
  text-align: center;
}

.tileTextContainer {
  z-index: 10;
  width: 85%;
}

.tileText {
  text-shadow: 2px 2px 8px #000;
  color: white;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.visible {
  opacity: 1;
}

.tileTechno {
  z-index: 10;
  display: flex;
  flex-wrap: wrap-reverse;
}

.tileTechno .technoBullet {
  opacity: 0.7;
}

.tileTriangle {
  z-index: 10;
  width: 90px;
  height: 90px;
  background-color: white;
  position: absolute;
  right: -45px;
  top: -45px;
  transform: rotate(45deg);
  cursor: pointer;
}

.tileGithub {
  z-index: 10;
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.tileGithub:hover {
  opacity: 1;
}

.tileVideoContainer {
  z-index: 1;
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
}

.tileVideoContainer img {
  width: 100%;
 object-fit: cover;
}

.mainTitleCont {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  /* margin-top: -1em; */
}

.mainTitleLine {
  flex-grow: 1;

  border-bottom: 5px dotted #6255c2;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  border-top: 5px solid #bdffe0;
  padding: 0.8em;
  font-size: 0.8em;
  margin-top: 3em;
  color: rgba(255, 255, 255, 0.555);
}

/* ------------------------- */

@media screen and (max-width: 800px) {
  body {
    grid-template: 200px auto 3fr / 100%; /* rows / columns */
    grid-template-areas:
      'header'
      'aside'
      'main';
  }

  main {
    margin-left: 10px;
  }

  aside {
    padding: 10px;
    margin-bottom: 1em;
  }

  .projectTile {
    flex-basis: 80%;
    min-width: 300px;
    margin-right: 10px;
    margin-left: 0;
  }
}
