html {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  background-image: url('../assets/inspiration-geometry.png');
  color: #444;
  line-height: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-shadow: 2px 2px 8px #000;
  line-height: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.3em;
}

h3 {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.5em 0;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1em;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.2em;
}

h6 {
  font-size: 1rem;
  font-weight: lighter;
  opacity: 0.5;
}

body {
  position: relative;
  display: grid;
  grid-template: 250px 1fr / minmax(360px, 1fr) 4fr; /* rows / columns */
  grid-template-areas:
    'header header'
    'aside main';
}

a {
  text-overflow: ellipsis;
}

a:link {
  color: #4f6a94;
}

a:visited {
  color: #4f6a94;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

/* ------------------------- */

.miniIcon {
  width: 1em;
  height: 1em;
  margin: 0.2em;
  opacity: 0.9;
}

.littleIcon {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.2em;
  opacity: 0.7;
}

.mediumIcon {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em;
  opacity: 0.7;
}

.biggerIcon {
  width: 2em;
  height: 2em;
  opacity: 0.7;
}

.bold {
  font-weight: bold;
}

.dim {
  opacity: 0.7;
}

.lowYPadding {
  padding-top: 3px;
  padding-bottom: 3px;
}

.mediumIcon:hover {
  opacity: 0.9;
}

.boxShadow {
  box-shadow: 0 0.45rem 0.9rem 0 rgba(44, 51, 73, 0.2);
}

/* ------------------------- */

header {
  grid-area: header;
  background-image: url('../assets/banner.png');
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid #85b5ff;
  overflow: hidden;
}

/* ------------------------- */

aside {
  grid-area: aside;
  padding: 20px;
}

#asideContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -120px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.2);
}

.asideSection {
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
  padding: 0 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.minimizeSection {
  height: 200px;
}

#buttonAsideXp {
  appearance: none;
  border: 5px solid white;
  border-top: none;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  width: 4em;
  height: 2em;
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: white;

  /* margin: 0 auto; */
}

#buttonAsideXp:hover .buttonAsideXpIcon {
  transform: translateY(0.2em);
}

.buttonAsideXpIcon {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.rotate180Button {
  transform: rotate(180deg);
}

.xpSection {
  margin-bottom: 1em;
}

.technoBullet {
  display: flex;
  align-items: center;
  height: 2em;
  background-color: #edf1f7;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  margin-right: 10px;
  margin-bottom: 10px;
}

.asideTitle {
  position: relative;
  margin-left: 0.6em;
}

.asideTitle::after {
  position: absolute;
  bottom: 0.9em;
  left: -0.6em;
  content: ' ';
  display: block;
  width: 0.3em;
  height: 0.3em;
  background-color: hotpink;
  border-radius: 2px;
}

#pictureAside {
  width: 50%;
  min-width: 180px;
  max-width: 250px;
  height: 50%;
  min-height: 180px;
  max-height: 250px;
  object-fit: contain;
  border-radius: 50%;
  margin-top: -60px;
  margin-bottom: 20px;
  box-shadow: 0 0.45rem 0.9rem 0 rgba(44, 51, 73, 0.2);
}

#asideLinkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
}

#technoSection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.4em;
}

/* ------------------------- */

main {
  grid-area: main;
  margin-top: 1em;
}

#projectContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* margin: 10px; */
  flex-wrap: wrap;
}

.projectTile {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
  justify-content: space-between;
  min-width: 380px;
  max-width: 680px;
  flex-basis: 25%;
  min-height: 380px;
  flex-grow: 1;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #bbb;
  border-radius: 10px;
  border-top-right-radius: 0;
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.2);
  cursor: pointer;
}

.projectTile::after {
  z-index: 5;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #5989e5, #37cfdc);

  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.projectTile::before {
  content: '';
  display: block;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.29735644257703087) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.29735644257703087) 100%
  );
}

.projectTile:hover::after {
  opacity: 0.7;
}

.projectTile:hover .tileText,
.playButton {
  opacity: 1;
}

.projectTile:hover .playButton {
  opacity: 1;
}

.tileTitle {
  display: flex;
  align-items: center;
}

.tileTextContainer {
  z-index: 10;
  width: 85%;
}

.tileText {
  text-shadow: 2px 2px 8px #000;
  color: white;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.tileTechno {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
}

.tileTriangle {
  z-index: 10;
  width: 120px;
  height: 120px;
  background-color: white;
  position: absolute;
  right: -60px;
  top: -60px;
  transform: rotate(45deg);
  cursor: pointer;
  /* transition: all 0.25s; */
}

.tileGithub {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
}

.playButton {
  position: relative;
  width: 1em;
  height: 1em;
  -webkit-filter: invert(1) drop-shadow(2px 2px 8px #000);
  filter: invert(1) drop-shadow(2px 2px 8px #000);
  margin-left: 15px;
  margin-bottom: 30px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.playButton:hover {
  -webkit-filter: invert(1) drop-shadow(2px 2px 8px hotpink);
  filter: invert(1) drop-shadow(2px 2px 8px hotpink);
  transform: rotate(-10deg) ease-in-out;
}

.tileVideoContainer {
  z-index: 1;
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

/* ------------------------- */

@media screen and (max-width: 800px) {
  body {
    grid-template: 250px 1fr 3fr / 100%; /* rows / columns */
    grid-template-areas:
      'header'
      'aside'
      'main';
  }

  main {
    margin-left: 20px;
  }

  .projectTile {
    flex-basis: 80%;
    min-width: 300px;
  }
}
